
# The API key for the TMDB API is stored here
# https://www.tmdb.org
VITE_TMDB_API=

# The base URL for the TMDB API is stored here
# https://www.themoviedb.org/documentation/api
VITE_BASE_URL=https://api.themoviedb.org/3

# The Site slogan is stored here with App title
VITE_APP_TITLE=THDMovie-Watch Movies&TV Shows Online Free
